<canvas id="sessionsByGenderChart"></canvas>
<script>
    // Attendance data by session
    var sessionsByGenderData = {
        labels: ["Web Dev", "Beginner Android", "Advanced Android",
            "Beginner iOS", "Advanced iOS"],
        datasets: [
            {
                label: "Female",
                fillColor: "rgba(231, 76, 60, 0.5)",
                strokeColor: "rgba(192, 57, 43, 0.8)",
                highlightFill: "rgba(231, 76, 60, 0.75)",
                highlightStroke: "rgba(192, 57, 43, 1.0)",
                data: [.1777, .1228, .1875, .2692, .0000]
            },
            {
                label: "Male",
                fillColor: "rgba(52, 152, 219, 0.5)",
                strokeColor: "rgba(41, 128, 185, 0.8)",
                highlightFill: "rgba(52, 152, 219, 0.75)",
                highlightStroke: "rgba(41, 128, 185, 1.0)",
                data: [.7555, .8070, .6875, .7307, .8888]
            },
        ],
    };

    var breakdownInView = false;
    var loadGBS = function() {
        if (breakdownInView) { return; }
        if (isScrolledIntoView("#sessionsByGenderChart")) {
            breakdownInView = true;
            var ctx = $("#sessionsByGenderChart").get(0).getContext("2d");
            var myAttendanceChart = new Chart(ctx).Bar(sessionsByGenderData, {
                responsive: true,
                // maintainAspectRatio: false
            });

            $('#sessionsByGenderChart').after(myAttendanceChart.generateLegend());
        }
    };
    window.addEventListener("scroll", loadGBS);
    loadGBS()
</script>

<style>
    .bar-legend li span {
        background-color: #3498db;
        width: 25px;
        height: 25px;
        display: inline-block;
        margin: -4px 10px;
        border-radius: 5px;
    }

    .bar-legend li {
        margin: 11px 0px;
        float: left;
    }

    .bar-legend {
        list-style-type: none;
        display: inline-block;
    }

    #sessionsByGenderChart {
        height: 400px !important;
        width: 100% !important;
    }
</style>
