<canvas id="attendanceChart" width="300" height="300"></canvas>
<script>
	// Attendance data by session
	var attendanceData = [
    		{   // Beginner Web
        	    value: 45,
    		    color:"#3498db",
    		    highlight: "#2980b9",
    		    label: "Beginner Web Dev",
                labelColor: "black",
                labelFontSize: "16",
    		},
    		{   // Beginner iOS
    		    value: 37,
    		    color: "#ecf0f1",
    		    highlight: "#bdc3c7",
    		    label: "Beginner iOS",
                labelColor: "black",
                labelFontSize: "16",
    		},
    		{   // Advanced iOS
    		    value: 9,
    		    color: "#95a5a6",
    		    highlight: "#7f8c8d",
    		    label: "Advanced iOS",
                labelColor: "black",
                labelFontSize: "16",
		},
    		{   // Beginner Android
    		    value: 57,
    		    color: "#2ecc71",
    		    highlight: "#27ae60",
    		    label: "Beginner Android",
                labelColor: "black",
                labelFontSize: "16",
    		},
    		{   // Advanced Android
    		    value: 16,
    		    color: "#1abc9c",
    		    highlight: "#16a085",
    		    label: "Advanced Android",
                labelColor: "black",
                labelFontSize: "16",
    		}
	];

    var sbaInView = false;
    var loadSBA = function() {
        if (sbaInView) { return; }
        if (isScrolledIntoView("#attendanceChart")) {
            sbaInView = true;
            var ctx = $("#attendanceChart").get(0).getContext("2d");
            var myAttendanceChart = new Chart(ctx).Pie(attendanceData, {
                segmentShowStroke : true,
                animateScale : true,
            });
            $('#attendanceChart').after(myAttendanceChart.generateLegend());
        }
    };
    window.addEventListener("scroll", loadSBA);
</script>

<style>
    .pie-legend li span {
        background-color: #3498db;
        width: 25px;
        height: 25px;
        display: inline-block;
        margin: -4px 10px;
        border-radius: 5px;
    }

    .pie-legend li {
        margin: 11px 0px;
    }

    .pie-legend {
        list-style-type: none;
        display: inline-block;
    }
</style>
